{
    "*.{js,jsx,ts,tsx}": [
        "echo eslint --fix",
        "echo prettier --write",
    ],
    "*.{jsx,tsx}": [
        "echo stylelint",
    ],
    "*.md": [
        "echo prettier --write --parser markdown",
        "echo git add"
    ]
}
